# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.firebase
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables (Variables de entorno sensibles)
.env
.env.*
!.env.example

# Google Credentials & Secrets
*.json
!package.json
!tsconfig*.json
!firebase.json

# Credenciales y variables de entorno del servidor
server/serviceAccountKey.json
server/.env