@import "tailwindcss";

@layer base {
  body {
    /* usamos min-h-dvh para que se ajuste a los diferentes tamaños de pantalla */
    @apply bg-slate-950 text-slate-100 antialiased font-sans select-none min-h-dvh;
    -webkit-tap-highlight-color: transparent;

    /* evitar el "rebote" de scroll en iOS */
    overscroll-behavior-y: none;

    /* Respetar la zona segura inferior en iOS */
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Barras de desplazamiento personalizadas y utilidades */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
